<header class="topnav">
{{#hamburger}}  <button class="iconbtn hamburger" id="hamburger" aria-label="Menu"{{hamburgerStyle}}>{{hamburgerGlyph}}</button>
{{/hamburger}}{{#backBtn}}  <a class="backbtn" id="backBtn" href="{{prefix}}index.html" data-fallback="{{prefix}}index.html" title="Back"><span class="bb-arrow">←</span><span class="bb-label">Home</span></a>
{{/backBtn}}  <a class="brand" href="{{prefix}}index.html"><img class="brand-logo" src="{{prefix}}assets/img/logo.svg" alt="" width="22" height="22">KnowML</a>
  <nav class="navlinks">
    <a{{#here:sections}} class="is-here"{{/here}} href="{{prefix}}sections.html">Browse</a>
    <a{{#here:roadmaps}} class="is-here"{{/here}} href="{{prefix}}roadmaps.html">Roadmaps</a>
    <a{{#here:labs}} class="is-here"{{/here}} href="{{prefix}}labs.html">Labs</a>
    <a{{#here:practice}} class="is-here"{{/here}} href="{{prefix}}practice.html">Practice</a>
    <a{{#here:map}} class="is-here"{{/here}} href="{{prefix}}map.html">Map</a>
  </nav>
  <div class="spacer"></div>
  <button class="navbtn" id="searchTrigger">🔍 <span class="navbtn-label">Search everything</span> <kbd>⌘K</kbd></button>
{{#notesBtn}}  <button class="iconbtn" id="notesToggleTop" data-notes-toggle title="My notes">✎</button>
{{/notesBtn}}  <button class="iconbtn" id="themeToggle" title="Toggle theme">☾</button>
</header>
